<h2 class="title_pink">BOOKING DETAILS.</h2>
<div class="booking">
    <div>
        <img src="{{reserva.planDetail.image}}" alt="reserva" class="img_booking">
    </div>
    <div class="plan_details">
        <h3 class="title_beige">{{reserva.planDetail.planName}}</h3>
        <p>{{reserva.planDetail .description}} </p>
        <p clasS="title_pink">Plan date: {{reserva.date}}</p>
    </div>
</div>

{{#if isUserLoggedIn }}


<form id='formGuest' action="/booking/{{reserva._id}}/{{reserva.date}}/{{reserva.people}}" method="post">
    <div id='formGuestDiv'>
        <div class="guest">
            <div class="guest-input">
                <label for="name-input" class="title_beige"> Attendee Name: </label>
                <input type="text" name="attendeename" id="name-input" value="{{reserva.name}}">
            </div>
            <div class="guest-input">
                <label for="user -lastname-input" class="title_beige"> Attendee Lastname: </label>
                <input type="text" name="attendee1lastname" id="lastname-input" value="{{reserva.lastname}}">
            </div>
            <div class="guest-input">
                <label for="user-phone-input" class="title_beige"> Attendee Phone number: </label>
                <input type="phone" name="attendee1phone" id="phone-input" placeholder=" Phone number">
            </div>

        </div>

        {{#times reserva.inviting}}
        <div class="guest">
            <div class="guest-input">
                <label for="name-input" class="title_beige"> Attendee Name </label>
                <input type="text" name="attendeename" id="name-input" placeholder="Attendee Name">
            </div>
            <div class="guest-input">
                <label for="user -lastname-input" class="title_beige"> Attendee LastName </label>
                <input type="text" name="attendee1lastname" id="lastname-input" placeholder="Attendee LastName">

            </div>
            <div class="guest-input">
                <label for="user-phone-input" class="title_beige"> Attendee Phone number </label>
                <input type="phone" name="attendee1phone" id="phone-input" placeholder="Phone number">

            </div>

        </div>
        {{/times}}

    </div>
    <button class='button_pink'type='submit'> BOOK! </button>
</form>
{{else}}
<h2>You must be logged in to Book a plan</h2>
<h4> If you don't have an account create one:</h4>
<li> <a href="/signup"> Sign Up </a> </li><br>
<h4> If you already have an account:</h4>
<li> <a href="/login"> Log In </a> </li>
{{/if}}

{{#if errorMessage}}
{{/if}}