<h3>My Profile </h3>
{{#each thisUser.reservations}}
<h4>{{this.plan.date}}</h4>
<h4>{{this.plan.description}}</h4>
<h4>{{this.plan.invited}}</h4>
<h4>{{this.plan.planName}}</h4>
{{#each this.invited}}<h4>{{this.name}}, {{this.lastname}}</h4>{{/each}}
<a href="/editbookings/{{this._id}}">Edit</a>
{{/each}}

