<div class="profile_page">

    <div class='profile_info'>
        <div class='container'>
            <h2 class="title_pink">{{thisUser.username}}'s PROFILE </h2>

            {{#if thisUser.imgPath}}
            <img class='profile_picture' src="{{thisUser.imgPath}}" alt="">
            {{/if}}
            <p><a href='/profilephoto'>UPLOAD</a> a photo for your profile</p>
        </div>
    </div>
    <div class="profile_booking">
        {{#each thisUser.reservations}}
        <div class="booking">

            <img src="{{this.plan.image}}" alt="reserva" class="img_booking">
            <div class="form">
                <div class="plan_details">
                    <h3 class="title_beige">{{this.plan.planName}}</h3>
                    <p>{{this.plan.description}} </p>
                    <p class="title_pink">Plan date: {{this.date}}</p>
                    <h4>Attendees:</h4>
                    <p>
                        {{#each this.invited}}{{this.name}} {{this.lastname}}<br>{{/each}}
                    </p>
                </div>
                <div class="booking_actions">
                    <a href="/editbookings/{{this._id}}" class="button">Edit</a>
                    <a href='/delete/{{this._id}}' class="button">Delete</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>