<h2 class="title_pink">AVAILABLE PLANS FOR {{reserva.date}}.</h2>

<div class="plan_list">
   {{#each reserva.availablePlans}}
   <a href="/details/{{this.id}}/{{../reserva.date}}">
   <div class="plan">
      <h3 class='title_grey'>{{this.planName}}</h3>
      <img src="{{this.image}}" alt="portada">
      
   </div>
   </a>
   {{/each}}
</div>